<h3 class="text-center">Welcome to Red Hills Surgical Center</h3>

<div id="homepage-carousel" class="carousel slide hidden-xs" data-ride="carousel" style="width: 750px; margin: 0 auto">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#homepage-carousel" data-slide-to="1"></li>
    <li data-target="#homepage-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("front_shot.jpg", class: "img-responsive center-block") %>
    </div>
    <div class="item">
      <%= image_tag("preop_beds.jpg", class: "img-responsive center-block") %>
    </div>
    <div class="item">
      <%= image_tag("or_table.jpg", class: "img-responsive center-block") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr>

<p>Red Hills Surgical Center is a state of the art, multi-specialty facility dedicated to providing compassionate, leading edge, patient-centered health care for all.  We pursue perfection in a trusting and learning environment, thus enhancing the quality of life of those we serve.  We are dedicated to the safety, comfort and privacy of our patients.</p>

<p>Red Hills boasts a pleasant aesthetic environment in a 17,000 plus square foot single story building.  We provide a covered front entrance patient drop off area, covered rear pick up area and ample free parking.</p>

<p>Our physicians and staff are dedicated to healthcare excellence and high quality service.  We are fully accredited through The Accrediting Association for Ambulatory Health Care (AAAHC) - which means we measure the quality of our services and performance against nationally-recognized standards.</p>

<div class="row">
  <div class="col-md-4">
    <a href="https://www.patientnotebook.com/redhillssurgicalcenter/payment" class="btn btn-danger">Pay Your Bill</a>
  </div>
</div>
